<h1>Tickets For Sale</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for event <- @events do %>
    <tr>
      <td><%= event.name %></td>

      <td>
        <%= link "Buy Tickets", to: Routes.event_path(@conn, :show, event) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Event", to: Routes.event_path(@conn, :new) %></span>
